@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
header {
  height: 100vh;
  background: linear-gradient(to right, #220076, #4E0062);
}
header .navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
header .navbar .navbar__logo {
  display: flex;
  align-items: center;
  gap: 1.1315417256vh;
  font-size: 3.2531824611vh;
  font-weight: bold;
  width: 15%;
}
header .navbar .navbar__logo img {
  width: 100%;
}
header .navbar .nav__group {
  display: flex;
  align-items: center;
  gap: 2.2630834512vh;
  padding: 4.5261669024vh 0;
}
header .navbar .nav__group li {
  font-size: 2.2630834512vh;
}
header .navbar a {
  color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}
header .navbar a:hover {
  color: #EB5757;
}
header .navbar a:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
header .navbar a::before {
  content: "";
  position: absolute;
  bottom: -0.7072135785vh;
  width: 0%;
  height: 0.2828854314vh;
  background: #EB5757;
  transition: all 0.3s ease-in-out;
}
header .navbar__menu {
  position: relative;
}
header .header__content {
  padding: 2.2630834512vh 0;
}
header .header__content .header__content_title {
  color: white;
  width: 60%;
}
header .header__content .header__content_title p {
  margin: 4.5261669024vh 0;
  font-size: 2.2630834512vh;
}
header .header__content .header__second_illust {
  width: 35%;
}
header .header__content .header__second_illust img {
  width: 100%;
  transform: scale(1.2);
}

.menu__group {
  display: none;
  position: absolute;
  right: 0;
  width: 30.0208333333vw;
  background-color: #220076;
  z-index: 100;
}
.menu__group li {
  padding: 2.2630834512vh;
  cursor: pointer;
}
.menu__group li:hover {
  background-color: #EB5757;
}
.menu__group li:hover a {
  color: white;
}
.menu__group li:hover a::before {
  background-color: white;
  width: 100%;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(9, 9, 75, 0.758);
  z-index: 100;
}

.navbar__menu {
  display: none;
}

@media (min-width: 0px) and (max-width: 560px) {
  header {
    background: rgb(9, 9, 75);
    height: auto;
  }
  header .navbar {
    padding: 2.2630834512vh;
  }
  header .navbar .nav__group {
    display: none;
  }
  header .navbar .navbar_button {
    display: none;
  }
  header .header__content .header__content_title {
    width: 100%;
    text-align: center;
  }
  header .header__content .header__content_title h1 {
    font-size: 3.3946251768vh;
  }
  header .header__content .header__content_title p {
    margin: 2.2630834512vh 0;
  }
  header .header__content .header__first_illust {
    display: none;
  }
  header .header__content .header__second_illust {
    display: none;
  }
  .navbar__menu {
    display: block;
  }
  .menu__group {
    display: none;
    position: absolute;
    right: 0;
    width: 50.0208333333vw;
    background-color: #220076;
    z-index: 100;
  }
  .menu__group li {
    padding: 2.2630834512vh;
    cursor: pointer;
  }
  .menu__group li:hover {
    background-color: #EB5757;
  }
  .menu__group li:hover a {
    color: white;
  }
  .menu__group li:hover a::before {
    background-color: white;
    width: 100%;
  }
}
@media (min-width: 560px) and (max-width: 1024px) {
  header {
    height: auto;
  }
  header .navbar {
    padding: 2.2630834512vh;
  }
  header .navbar .nav__group {
    display: none;
  }
  header .navbar .navbar_button {
    display: none;
  }
  header .header__content .header__first_illust {
    display: none;
  }
  header .header__content .container .default__flex {
    display: flex;
    flex-direction: column;
  }
  header .header__content .header__content_title {
    width: 90%;
  }
  header .header__content .header__content_title h1 {
    font-size: 6.3649222065vh;
  }
  header .header__content .header__second_illust {
    width: 90%;
  }
  header .header__content .header__second_illust img {
    transform: scale(1);
  }
  .navbar__menu {
    display: block;
  }
  .fixed {
    padding: 2.2630834512vh;
  }
  .menu__group {
    display: none;
    position: absolute;
    right: 0;
    width: 30.0208333333vw;
    background-color: #220076;
    z-index: 100;
  }
  .menu__group li {
    padding: 2.2630834512vh;
    cursor: pointer;
  }
  .menu__group li:hover {
    background-color: #EB5757;
  }
  .menu__group li:hover a {
    color: white;
  }
  .menu__group li:hover a::before {
    background-color: white;
    width: 100%;
  }
}
.price__section {
  height: auto;
  background-color: rgb(9, 9, 75);
  color: white;
  padding: 11.315417256vh 0 6.7892503536vh 0;
}
.price__section .price__title {
  text-align: center;
  margin-bottom: 4.5261669024vh;
}
.price__section .table {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 2.2630834512vh;
}
.price__section .table thead tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.5261669024vh;
  text-align: start;
  padding: 2.2630834512vh 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.price__section .table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.2630834512vh;
  border-bottom: 1px solid gray;
}
.price__section .table td {
  display: flex;
  align-items: center;
  gap: 0.2828854314vh;
  text-align: center;
  justify-content: space-between;
  padding: 2.2630834512vh 0;
}
.price__section .table .td__width {
  width: 6.5104166667vw;
  font-size: 1.8387553041vh;
}
.price__section .table .td__width img {
  width: 0.9765625vw;
}
.price__section .table .top {
  color: rgb(24, 206, 24);
  position: relative;
}
.price__section .table .top::before {
  content: "";
  position: absolute;
  left: -0.78125vw;
  background: url("../../Assets/Vector.png") no-repeat;
  background-size: cover;
  width: 0.6510416667vw;
  height: 1.414427157vh;
}
.price__section .table .down {
  color: red;
  position: relative;
}
.price__section .table .down::before {
  content: "";
  position: absolute;
  left: -0.78125vw;
  background: url("../../Assets/Vector (1).png") no-repeat;
  background-size: cover;
  width: 0.6510416667vw;
  height: 1.414427157vh;
}
.price__section .media__none.stat__box .stat__img {
  width: 6.5104166667vw;
}

@media (min-width: 0px) and (max-width: 560px) {
  .price__section .table {
    width: 100%;
  }
  .price__section .table thead tr {
    border-top: 0px;
  }
  .price__section .table .td__width img {
    width: 100%;
  }
  .price__section .table .media__none {
    display: none !important;
  }
}
@media (min-width: 560px) and (max-width: 1024px) {
  .price__section .table {
    width: 100%;
  }
  .price__section .table thead tr {
    border-top: 0px;
  }
  .price__section .table .td__width img {
    width: 100%;
  }
  .price__section .table .media__none {
    display: none !important;
  }
}
.platform__section {
  padding: 6.7892503536vh 0;
}
.platform__section .platform__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.platform__section .platform__title {
  text-align: center;
  margin-bottom: 11.315417256vh;
}
.platform__section .platform__card {
  line-height: 4.243281471vh;
}
.platform__section .platform__card .capital_item {
  font-weight: bold;
  font-size: 2.5459688826vh;
}
.platform__section .platform__card li {
  font-size: 2.2630834512vh;
}
.platform__section .platform__card .platform__card_header {
  width: 35%;
}
.platform__section .platform__card .platform__card_header img {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 560px) {
  .platform__section .platform__content {
    flex-direction: column;
    text-align: center;
    gap: 4.5261669024vh;
  }
  .platform__section .platform__content .platform__card_header {
    margin: 0 auto;
  }
  .platform__section .platform__title h2 {
    font-size: 2.828854314vh;
  }
}
@media (min-width: 560px) and (max-width: 1024px) {
  .platform__section .platform__content {
    text-align: center;
    gap: 4.5261669024vh;
    flex-wrap: wrap;
    justify-content: center;
  }
  .platform__section .platform__content .platform__card_header {
    margin: 0 auto;
  }
  .platform__section .platform__title h2 {
    font-size: 2.828854314vh;
  }
}
.crypto__section {
  padding: 11.315417256vh 0 4.5261669024vh 0;
  background-color: rgb(9, 9, 75);
}
.crypto__section .crypto__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crypto__section .crypto__title {
  width: 40%;
  color: white;
}
.crypto__section .crypto__title p {
  margin: 4.5261669024vh 0;
  font-size: 2.2630834512vh;
}
.crypto__section .crypto__title .crypto__buttons {
  width: 90%;
  display: flex;
  align-items: center;
}
.crypto__section .crypto__title .crypto__buttons a {
  width: 45%;
}
.crypto__section .crypto__title .crypto__buttons a img {
  width: 100%;
}
.crypto__section .crypto__image {
  width: 30%;
}
.crypto__section .crypto__image img {
  width: 100%;
}

.media__block_image {
  display: none;
}

@media (min-width: 0px) and (max-width: 560px) {
  .crypto__section {
    height: auto;
  }
  .crypto__section .crypto__content {
    flex-direction: column;
  }
  .crypto__section .crypto__title {
    width: 90%;
    text-align: center;
  }
  .crypto__section .crypto__title .crypto__buttons {
    display: flex;
    align-items: center;
    gap: 2.2630834512vh;
  }
  .crypto__section .crypto__title .crypto__buttons a {
    width: 45%;
  }
  .crypto__section .crypto__title .crypto__buttons a img {
    width: 100%;
  }
  .crypto__section .crypto__image {
    display: none;
  }
  .crypto__section .media__block_image {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .crypto__section .media__block_image img {
    width: 100%;
  }
}
@media (min-width: 560px) and (max-width: 1024px) {
  .crypto__section {
    height: auto;
  }
  .crypto__section .crypto__content {
    flex-direction: column;
  }
  .crypto__section .crypto__title {
    width: 90%;
    text-align: center;
  }
  .crypto__section .crypto__title .crypto__buttons {
    display: flex;
    align-items: center;
    gap: 2.2630834512vh;
  }
  .crypto__section .crypto__title .crypto__buttons a {
    width: 45%;
  }
  .crypto__section .crypto__title .crypto__buttons a img {
    width: 100%;
  }
  .crypto__section .crypto__image {
    display: none;
  }
  .crypto__section .media__block_image {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .crypto__section .media__block_image img {
    width: 100%;
  }
}
.learn__section {
  height: 100vh;
  background: #FFF6FB;
  padding: 13.5785007072vh 0 2.2630834512vh 0;
}
.learn__section .learn__title {
  margin-bottom: 6.7892503536vh;
  text-align: center;
}
.learn__section .learn__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.learn__section .learn__card {
  width: 30%;
  background-color: white;
  box-shadow: 0 0 1.414427157vh 0.7072135785vh whitesmoke;
  border-radius: 1.414427157vh;
}
.learn__section .learn__card:hover {
  box-shadow: 0 0 1.414427157vh 0.7072135785vh rgb(184, 183, 183);
  cursor: pointer;
}
.learn__section .learn__card .learn__card_header img {
  width: 100%;
}
.learn__section .learn__card .learn__card_body {
  padding: 2.2630834512vh;
  font-size: 2.2630834512vh;
}
.learn__section .learn__card .learn__card_footer {
  padding: 2.2630834512vh;
}
.learn__section .learn__card .learn__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6973125884vh;
}

@media (min-width: 0px) and (max-width: 560px) {
  .learn__section {
    height: auto;
  }
  .learn__section .learn__content {
    flex-direction: column;
    gap: 4.5261669024vh;
  }
  .learn__section .learn__card {
    width: 90%;
  }
  .learn__section .learn__card .learn__group {
    font-size: 1.6973125884vh;
  }
}
@media (min-width: 560px) and (max-width: 1024px) {
  .learn__section {
    height: auto;
  }
  .learn__section .learn__content {
    gap: 4.5261669024vh;
    flex-wrap: wrap;
    justify-content: center;
  }
  .learn__section .learn__card {
    width: 90%;
  }
  .learn__section .learn__card .learn__card_body {
    font-size: 1.6973125884vh;
  }
  .learn__section .learn__card .learn__card_footer .learn__group {
    font-size: 1.6630834512vh;
  }
}
.submit__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  background: rgb(9, 9, 75);
}
.submit__section .submit__title {
  text-align: center;
  color: white;
}
.submit__section .submit__title h3 {
  font-weight: 200;
  font-size: 2.828854314vh;
  margin: 2.2630834512vh;
}
.submit__section .submit__content {
  text-align: center;
}
.submit__section .submit__content .submit__input {
  position: relative;
  width: 60%;
  right: -20%;
}
.submit__section .submit__content .submit__input input {
  width: 100%;
  padding: 2.4045261669vh;
  border-radius: 5.657708628vh;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 2.2630834512vh;
}
.submit__section .submit__content .submit__input input::-moz-placeholder {
  color: white;
  font-size: 2.2630834512vh;
}
.submit__section .submit__content .submit__input input::placeholder {
  color: white;
  font-size: 2.2630834512vh;
}
.submit__section .submit__content .submit__input button {
  position: absolute;
  right: 0.4557291667vw;
  top: 0.8486562942vh;
}
.submit__section .submit_first_illust, .submit__section .submit_second_illust {
  width: 20%;
}
.submit__section .submit_first_illust img, .submit__section .submit_second_illust img {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 560px) {
  .submit__section .submit_first_illust, .submit__section .submit_second_illust {
    display: none;
  }
  .submit__section .submit__content .submit__input {
    width: 90%;
    right: -0.6510416667vw;
  }
  .submit__section .submit__content .submit__input input {
    font-size: 1.6973125884vh;
  }
  .submit__section .submit__content .submit__input input::-moz-placeholder {
    font-size: 1.6973125884vh;
  }
  .submit__section .submit__content .submit__input input::placeholder {
    font-size: 1.6973125884vh;
  }
  .submit__section .submit__content .submit__input button {
    font-size: 1.6973125884vh;
  }
}
@media (min-width: 560px) and (max-width: 1024px) {
  .submit__section {
    height: auto;
    padding: 13.5785007072vh 0;
  }
  .submit__section .submit_first_illust, .submit__section .submit_second_illust {
    display: none;
  }
  .submit__section .submit__content .submit__input {
    width: 90%;
    right: -2.6041666667vw;
  }
  .submit__section .submit__content .submit__input input {
    font-size: 1.6973125884vh;
  }
  .submit__section .submit__content .submit__input input::-moz-placeholder {
    font-size: 1.6973125884vh;
  }
  .submit__section .submit__content .submit__input input::placeholder {
    font-size: 1.6973125884vh;
  }
  .submit__section .submit__content .submit__input button {
    font-size: 1.6973125884vh;
  }
}
.footer__section {
  background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);
  color: #fff;
  padding: 6.7892503536vh 0;
}
.footer__section .container .footer__content {
  display: flex;
  justify-content: space-between;
  line-height: 3;
}
.footer__section .container .footer__content .footer__item {
  color: #b9b7b7;
  font-size: 2.2630834512vh;
}
.footer__section .container .footer__content .footer__item:first-child {
  color: #fff;
  font-size: 2.5459688826vh;
}
.footer__section .footer_line {
  width: 100%;
  height: 1px;
  background-color: #BCBCBC;
  margin: 4.5261669024vh 0;
}
.footer__section .copywrite__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2630834512vh;
}
.footer__section .copywrite__content .footer__links {
  display: flex;
  align-items: center;
  gap: 2.2630834512vh;
}
.footer__section .copywrite__content .footer__links i {
  border: 1px solid gray;
  padding: 1.1315417256vh;
  border-radius: 1.414427157vh;
  font-size: 2.2630834512vh;
  color: gray;
  cursor: pointer;
}
.footer__section .copywrite__content .footer__links i:hover {
  color: white;
  background: #EB5757;
  border: 1px solid #EB5757;
}

@media (min-width: 0px) and (max-width: 560px) {
  .footer__section .container .footer__content {
    gap: 4.5261669024vh;
    flex-wrap: wrap;
  }
  .footer__section .container .footer__content .footer__group {
    width: 40%;
  }
  .footer__section .copywrite__content {
    flex-direction: column-reverse;
    gap: 4.5261669024vh;
  }
}
@media (min-width: 560px) and (max-width: 1024px) {
  .footer__section .container .footer__content {
    padding: 0 2.2630834512vh;
    gap: 4.5261669024vh;
    flex-wrap: wrap;
    justify-content: initial;
  }
  .footer__section .container .footer__content .footer__group {
    width: 45%;
  }
  .footer__section .copywrite__content {
    flex-direction: column-reverse;
    gap: 4.5261669024vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 78.125vw;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  padding: 1.414427157vh 1.6276041667vw;
  border: 1px solid #EB5757;
  border-radius: 3.5360678925vh;
  background-color: transparent;
  font-size: 2.2630834512vh;
  transition: all 0.3s ease-in-out;
  color: white;
}
button:hover {
  background-color: #EB5757;
  color: white;
}

button.fill {
  background-color: #EB5757;
  color: white;
}
button.fill:hover {
  background-color: transparent;
  color: #EB5757;
}

input {
  outline: none;
}

.default__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11.315417256vh;
}

h1 {
  font-size: 8.486562942vh;
}

::-webkit-scrollbar {
  width: 1.1315417256vh;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #EB5757;
  border-radius: 1.414427157vh;
}

.bx-list-ul {
  font-size: 3.3946251768vh;
  cursor: pointer;
}
.bx-list-ul:hover {
  color: #EB5757;
}

.hide {
  display: block;
}

h2 {
  font-size: 4.5261669024vh;
}

.gray {
  color: gray;
}/*# sourceMappingURL=style.css.map */