header {
    height: 100vh;
    background: linear-gradient(to right, $blue, $indigo);

    .navbar {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
        }

        .navbar__logo {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 1.4rem;
            font-weight: bold;
        }

        .nav__group {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 2rem 0;
        }

        a {
            color: white;
            position: relative;
            transition: all .3s ease-in-out;

            &:hover {
                color: $orange;

                &::before {
                    width: 100%;
                    transition: all .3s ease-in-out;

                }
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -5px;
                width: 0%;
                height: 2px;
                background: $orange;
                transition: all .3s ease-in-out;

            }
        }
    }

    .navbar__menu {
        position: relative;
    }

    .header__content {
        padding: 1rem 0;


        .header__content_title {
            color: white;
            width: 60%;

            p {
                margin: 2rem 0;
            }
        }

        .header__second_illust {
            width: 35%;

            img {
                width: 100%;
                transform: scale(1.2);
            }
        }
    }
}

.menu__group {
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    background-color: $blue;
    z-index: 100;

    li {
        padding: 1rem;
        cursor: pointer;

        &:hover {
            background-color: $orange;

            a {
                color: white;

                &::before {
                    background-color: white;
                    width: 100%;
                }
            }
        }
    }
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(9, 9, 75, 0.758);
    z-index: 100;
}

.navbar__menu {
    display: none;
}

@media (min-width: 0px) and (max-width: 560px) {
    header {
        background: $dark_blue;
        height: auto;

        .navbar {
            padding: 1rem;

            .nav__group {
                display: none;
            }

            .navbar_button {
                display: none;
            }

        }

        .header__content {
            .header__content_title {
                width: 100%;
                text-align: center;

                h1 {
                    font-size: 24px;
                }

                p {
                    margin: 1rem 0;
                }
            }

            .header__first_illust {
                display: none;
            }

            .header__second_illust {
                display: none;
            }
        }
    }

    .navbar__menu {
        display: block;
    }
}

@media (min-width: 560px) and (max-width: 1024px) {
    header {
        height: auto;

        .navbar {
            .nav__group {
                display: none;
            }

            padding: 1rem;

            .navbar_button {
                display: none;
            }
        }
        .header__content {
            .header__first_illust {
                display: none;
            }
    
            .container {
                .default__flex {
                    display: flex;
                    flex-direction: column;
                }
            }
            
            .header__content_title {
                width: 90%;
            }
            .header__second_illust {
                width: 90%;
                img {
                    transform: scale(1);
                }
            }
        }
    }

    .navbar__menu {
        display: block;
    }

    .fixed {
        padding: 1rem;
    }

}