.learn__section {
    height: 100vh;
    background: $light_pink;
    padding: 6rem 0 1rem 0;

    .learn__title {
        margin-bottom: 3rem;
        text-align: center;
    }

    .learn__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .learn__card {
        width: 30%;
        background-color: white;
        box-shadow: 0 0 10px 5px whitesmoke;
        border-radius: 10px;

        &:hover {
            box-shadow: 0 0 10px 5px rgb(184, 183, 183);
            cursor: pointer;
        }

        .learn__card_header {
            img {
                width: 100%;
            }
        }

        .learn__card_body {
            padding: 1rem;
        }

        .learn__card_footer {
            padding: 1rem;
        }

        .learn__group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
        }
    }

}

@media (min-width: 0px) and (max-width: 560px) {
    .learn__section {
        height: auto;

        .learn__content {
            flex-direction: column;
            gap: 2rem;

            .learn__card {
                width: 90%;
            }
        }
    }
}

@media (min-width:560px) and (max-width: 1024px) {
    .learn__section {
        height: auto;

        .learn__content {
            gap: 2rem;
            flex-wrap: wrap;
            justify-content: center;
            .learn__card {
                width: 40%;
            }
        }
    }
}